<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="admin/layout/head :: head"></head>

<body>
    <!-- nav -->
    <nav th:replace="admin/layout/nav :: nav"></nav>
    <!-- nav -->
    <!-- sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar"></div>
    <!-- sidebar -->
    <!-- container -->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg></a></li>
                <li class="active">Cập nhật người dùng</li>

            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cập nhật người dùng</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" method="POST" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}"
                            enctype="multipart/form-data">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Họ Tên</label>
                                    <input required name="prd_name" class="form-control" placeholder="Họ tên"
                                        th:field="*{full_name}">
                                </div>

                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input required name="prd_price" type="text" class="form-control"
                                        th:field="*{address}">
                                </div>
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input required name="prd_promotion" type="date" class="form-control"
                                        th:field="*{birth_date}">
                                </div>
                                <div class="form-group">
                                    <label for="gender">Giới tính</label>
                                    <select required name="gender" id="gender" class="form-control"
                                        th:field="*{gender}">
                                        <option value="" disabled selected>Chọn giới tính</option>
                                        <option value="MALE">Nam</option>
                                        <option value="FEMALE">Nữ</option>
                                        <option value="OTHER">Khác</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input required name="prd_name" class="form-control" placeholder="Số điện thoại"
                                        th:field="*{phone_number}">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input required name="prd_name" class="form-control" placeholder="Email"
                                        th:field="*{email}">
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label>Password</label>-->
<!--                                    <input required name="prd_name" class="form-control" placeholder="password"-->
<!--                                        th:field="*{password}">-->
<!--                                </div>-->
                                <div class="form-group">
                                    <label>Quyền hạn (Role)</label>
                                    <select id="roles" th:field="*{roles}" class="form-control">
                                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                                    </select>
                                </div>
                                <button name="sbm" type="submit" class="btn btn-success">Cập nhật</button>
                                <!-- <button type="reset" class="btn btn-default">Làm mới</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div>
    <!-- container -->
    </div>
</body>

</html>