<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="admin/layout/head :: head"></head>

<body>
    <!-- nav -->
    <nav th:replace="admin/layout/nav :: nav"></nav>
    <!-- nav -->
    <!-- sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar"></div>
    <!-- sidebar -->
    <!-- container -->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome to Admin</h1>
            </div>
        </div>
    </div>
    <!-- container -->
    <script th:src="@{/admin_assets/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/admin_assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin_assets/js/bootstrap-table.js}"></script>
</body>

</html>