<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:fragment="sidebar">
    <ul class="nav menu">
        <li class="active">
            <a th:href="@{/admin/user}">
                <svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>
                Quản lý người dùng
            </a>
        </li>
        <li><a href="product.html"><svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Quản lý sách</a></li>
        <li><a href="../index.html"><svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>Về Lookbook</a></li>
    </ul>

</div>