<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:fragment="sidebar">
    <ul class="nav menu">
        <li class="active">
            <a th:href="@{/admin/user/1}">
                <svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>
                Quản lý người dùng
            </a>
        </li>
        <li>
            <a th:href="@{/admin/book/1}">
                <svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Quản lý sách</a>
        </li>
        <li class="active">
            <a th:href="@{/admin/order/1}">
                <svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Quản lý đơn hàng</a>
        </li>
        <li><a th:href="@{/}"><svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>Về Lookbook</a></li>
    </ul>
    <script th:src="@{/admin_assets/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/admin_assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin_assets/js/bootstrap-table.js}"></script>
</div>
