<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-free-6.6.0-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/home.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <!--script-->
</head>
<body>
    <div class="app">
        <!-- header -->
        <div th:replace="/layout/header :: header"></div>
        <!-- header -->
        <!-- location -->
        <div class="location">
            <a th:href="@{/}" class="location-link">
                Trang chủ
            </a>
            <p class="location-text">Tất cả sản phẩm</p>
        </div>
        <!-- location -->
        <!-- container -->
        <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3">
                        <nav class="category">
                            <h3 class="category__heading">DANH MỤC SÁCH</h3>
                            <ul class="category-list" th:each="category : ${categories}">
                                <li class="category-item category-item--active">
                                    <a th:href="@{/books/{id}(id = ${category.getCategoryId()})}" class="category-item__link " th:text="${category.categoryName}">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="category">
                            <h3 class="category__heading">CÓ THỂ BẠN SẼ THÍCH</h3>
                            <ul class="category-list">
                                <li class="category-item">
                                    <div class="product-item" th:each="book : ${bestSellerBooks}">
                                        <div class="product-item__container">
                                            <a th:href="@{/detail/{id}(id = ${book.getBookId()})}" class="product-tiem__link">
                                                <img class="product-item__img product-item__img--like"
                                                     th:src="${book.img}"
                                                     alt="img">
                                            </a>
                                        </div>
                                        <a th:href="@{/detail/{id}(id = ${book.getBookId()})}">
                                            <h4 class="product-item__name"
                                                th:text="${book.getTitle()}"></h4>
                                        </a>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current"
                                                  th:text="${formatter.formatCurrency(book.getPrice())}"></span>
                                            <!--  <span class="product-item__price-old">199.000₫</span>-->
                                            <div class="product-item__rating">
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid__column-9">
                        <div class="home-filter">
                             <span class="home-filter__label">Sắp xếp:</span>
                            <div class="select-input">
                                <span class="select-input__label" >
                                    <label th:text="${sortBy}"></label>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </span>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a th:href="@{/books/sorted(sortBy='titleAsc')}" class="select-input__link">Tên A-Z</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a th:href="@{/books/sorted(sortBy='titleDesc')}" class="select-input__link">Tên Z-A</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a th:href="@{/books/sorted(sortBy='priceAsc')}" class="select-input__link">Giá tăng dần</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a th:href="@{/books/sorted(sortBy='priceDesc')}" class="select-input__link">Giá giảm dần</a>
                                    </li>
                                </ul>
                            </div>
                            <form class="home-filter__search" th:action="@{/books/search}" method="get">
                                <input type="text" name="query"  class="home-filter__search-text" placeholder="Nhập tên sản phẩm..." required>
                                <button class="home-filter__search-button" type="submit">
                                    <i class="home-filter__search-icon fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <!--BOOK-->
                        <div class="product">
                            <div class="grid__row" >
                                <div class="grid__column-3" th:each="book : ${books}">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a th:href="@{/detail/{id}(id=${book.bookId})}" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    th:src="${book.img}"
                                                    alt="">
                                            </a>
                                        </div>
                                        <a th:href="@{/detail/{id}(id=${book.getBookId()})}" style="text-decoration: none">
                                            <h4 class="product-item__name" th:text="${book.title}"></h4>
                                        </a>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current" th:text="${formatter.formatCurrency(book.price)}"></span>
<!--                                            <span class="product-item__price-old"></span>-->
                                        </div>
                                        <div class="product-item__rating" style="margin-left: 0">
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <ul class="pagination product__pagination">-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">-->
<!--                                    <i class="pagination-item__icon fa-solid fa-angle-left"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item pagination-item&#45;&#45;active">-->
<!--                                <a href="" class="pagination-item__link ">1</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">2</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">3</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">4</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">5</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">...</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">14</a>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a href="" class="pagination-item__link">-->
<!--                                    <i class="pagination-item__icon fa-solid fa-angle-right"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
        <!-- footer -->
        <div class="footer" th:replace="/layout/footer :: footer"></div>
        <!-- footer -->
    </div>
</body>
</html>