<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-free-6.6.0-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/home.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <!--script-->
    <script th:src="@{/assets/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="app">
        <!-- header -->
        <div th:replace="/layout/header :: header"></div>
        <!-- header -->
        <!-- location -->
        <!-- location -->
        <!-- banner -->
        <div class="banner">
        </div>
        <!-- banner -->
        <section class="bestselling">
            <div class="container">
                <div class="row">
                    <div class="bestselling__heading-wrap">
                        <div class="bestselling__heading">Top bán chạy nhất </div>
                    </div>
                </div>

                <section class="row">
                    <div class="bestselling__product col-lg-4 col-md-6 col-sm-12" th:each="book : ${bestSellerBooks}">
                        <div class="bestselling__product-img-box">
                            <img th:src="${book.img}" th:alt="img" class="bestselling__product-img">
                        </div>
                        <div class="bestselling__product-text">
                            <h3 class="bestselling__product-title">
                                <a th:href="@{/detail/{id}(id=${book.getBookId()})}" class="bestselling__product-link"
                                   th:text="${book.title}"></a>
                            </h3>

                            <div class="bestselling__product-rate-wrap">
                                <i class="fas fa-star bestselling__product-rate"></i>
                                <i class="fas fa-star bestselling__product-rate"></i>
                                <i class="fas fa-star bestselling__product-rate"></i>
                                <i class="fas fa-star bestselling__product-rate"></i>
                                <i class="fas fa-star bestselling__product-rate"></i>
                            </div>

                            <span class="bestselling__product-price"
                                  th:text="${formatter.formatCurrency(book.price)}"></span>

                            <div class="bestselling__product-btn-wrap">
                                <button class="bestselling__product-btn">
                                    <a th:href="@{/detail/{id}(id=${book.bookId})}" style="color: white">
                                        Xem hàng
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row bestselling__banner">

                    <div class="bestselling__banner-left col-lg-6">
                        <img th:src="@{/assets/img/banner3.png}" alt="Banner quảng cáo" class="bestselling__banner-left-img">
                    </div>
                    <div class="bestselling__banner-right col-lg-6">
                        <img th:src="@{/assets/img/banner4.jpg}" alt="Banner quảng cáo" class="bestselling__banner-right-img">
                    </div>
                </div>
            </div>
        </section>
        <!-- container -->
        <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3">
                        <nav class="category">
                            <h3 class="category__heading">DANH MỤC SÁCH</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active" th:each="category : ${categories}">
                                    <a th:href="@{/books/{id}(id = ${category.getCategoryId()})}" class="category-item__link ">
                                        <span th:text="${category.categoryName}"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="category">
                            <h3 class="category__heading">CÓ THỂ BẠN SẼ THÍCH</h3>
                            <ul class="category-list">
                                <li class="category-item" th:each="book : ${suggestBook}">
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a th:href="@{/detail/{id}(id=${book.getBookId()})}" class="product-tiem__link">
                                                <img class="product-item__img product-item__img--like"
                                                     th:src="${book.img}"
                                                     alt="img">
                                            </a>
                                        </div>
                                        <a th:href="@{/detail/{id}(id=${book.getBookId()})}">
                                            <h4 class="product-item__name"
                                                th:text="${book.title}"></h4>
                                        </a>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current"
                                                  th:text="${formatter.formatCurrency(book.price)}"></span>
                                            <!--  <span class="product-item__price-old">199.000₫</span>-->
                                            <div class="product-item__rating">
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                                <i class="fas fa-star bestselling__product-rate"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid__column-9">
                        <div class="product">
                            <div class="grid__row">
                                <div class="grid__column-3" th:each="book : ${books}">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a th:href="@{/detail/{id}(id=${book.getBookId()})}" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    th:src="${book.img}"
                                                    alt="img">
                                            </a>
                                        </div>
                                        <a th:href="@{/detail/{id}(id=${book.getBookId()})}">
                                            <h4 class="product-item__name"
                                                th:text="${book.title}"></h4>
                                        </a>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current"
                                                  th:text="${formatter.formatCurrency(book.price)}"></span>
<!--                                            <span class="product-item__price-old">199.000đ</span>-->
                                        </div>
                                        <div class="product-item__rating" style="    margin-left: -2px;">
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <i class="fas fa-star bestselling__product-rate"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <ul class="pagination product__pagination">-->
<!--                            <li class="pagination-item">-->
<!--                                <a th:if="${currentPage > 1 }" th:href="@{'/'+${currentPage - 1}}" class="pagination-item__link">&laquo;</a>-->
<!--                                <span th:unless="${currentPage > 1 }">&laquo;</span>-->
<!--                            </li>-->
<!--                            <li class="pagination-item pagination-item&#45;&#45;active">-->
<!--                                <span th:each=" i : ${#numbers.sequence(1,totalPages)}">-->
<!--                                        <a th:if="${currentPage != i}" th:href="@{'/' + ${i}}" class="pagination-item__link">[[${i}]]</a>-->
<!--                                        <span th:unless="${currentPage != i }">[[${i}]]</span>-->
<!--                                </span>-->
<!--                            </li>-->
<!--                            <li class="pagination-item">-->
<!--                                <a th:if="${currentPage < totalPages }" th:href="@{'/'+${totalPages}}" class="pagination-item__link">&raquo;</a>-->
<!--                                <span th:unless="${currentPage < totalPages }">&raquo;</span>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
        <!-- footer -->
        <div class="footer" th:replace="/layout/footer :: footer"></div>
        <!-- footer -->
    </div>
</body>

</html>