<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/head :: head">
</head>

<body>
    <div class="app">
        <!-- header -->
        <div th:replace="/layout/header :: header"></div>
        <!-- header -->
        <!-- location -->
        <div class="location">
            <a href="" class="location-link">
                Trang chủ
            </a>
            <p class="location-text">Tất cả sản phẩm</p>
        </div>
        <!-- location -->
        <!-- banner -->
        <div class="banner">
        </div>
        <!-- banner -->
        <!-- container -->
        <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3">
                        <nav class="category">
                            <h3 class="category__heading">DANH MỤC SÁCH</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link ">
                                        Harvard Business Review
                                    </a>
                                </li>
                                <li class="category-item ">
                                    <a href="#" class="category-item__link">
                                        Alpha Lead
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">
                                        Tài chính - Đầu tư - Chứng khoán
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">
                                        Công nghệ & Chuyển đổi số
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">
                                        Marketing & Bán hàng
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="category">
                            <h3 class="category__heading">DANH MỤC BÁN CHẠY</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/tam-ly-hoc-thanh-cong-304x472.jpg?v=1516592128997"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Mindset - Tâm Lý Học Thành Công</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">159.200₫</span>
                                            <span class="product-item__price-old">199.000₫</span>
                                        </div>
                                        <div class="product-item__rating"></div>
                                        <!-- <div class="product-item__rating">
                                            <i class="fa-regular fa-star" style="color: gold;"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div> -->
                                    </div>
                                </li>
                                <li class="category-item ">
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/bi-a-nha-n-to-quye-t-di-nh-ne-n-ngu-o-i-tha-nh-da-t.jpg?v=1721901416223"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Nhân Tố Quyết Định Nên Người Thành Đạt</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">199.000₫</span>
                                            <span class="product-item__price-old">259.000₫</span>
                                        </div>
                                        <div class="product-item__rating"></div>
                                        <!-- <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div> -->
                                    </div>
                                </li>
                                <li class="category-item">
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/vn-11134207-7r98o-lxuy40rui1nd40-jpeg.jpg?v=1721728066683"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Marketing Matters - Marketing Có Quan Trọng? Nên
                                            Làm Marketing Thế Nào?</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">183.200₫</span>
                                            <span class="product-item__price-old"> 229.000₫</span>
                                        </div>
                                        <div class="product-item__rating"></div>
                                        <!-- <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div> -->
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid__column-9">
                        <div class="home-filter">
                            <!-- <span class="home-filter__label">Sắp xếp:</span>
                            <div class="select-input">
                                <span class="select-input__label">
                                    Mặc định
                                    <i class="fa-solid fa-chevron-down"></i>
                                </span>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Tên A-Z</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Tên Z-A</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Giá tăng dần</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Giá giảm dần</a>
                                    </li>
                                </ul>
                            </div>
                            <form class="home-filter__search" action="">
                                <input type="text" class="home-filter__search-text" placeholder="Nhập tên sản phẩm...">
                                <button class="home-filter__search-button">
                                    <i class="home-filter__search-icon fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form> -->
                        </div>
                        <div class="product">
                            <div class="grid__row">
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/ban-sao-bat-dong-san-thuc-chien-30-8-2024-outline-01-1.jpg?v=1728293569103"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Bất Động Sản Thực Chiến</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">196.150đ</span>
                                            <span class="product-item__price-old">199.000đ</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/vhs-01.jpg?v=1727174956620"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Văn Hoá Số - Gỡ bỏ rào cản trong chuyển đổi số -
                                            TG Lê Quang Vũ (Pre - Order)</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">151.200₫</span>
                                            <span class="product-item__price-old">189.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/untitled-design.png?v=1727321084060"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Chữa Lành Tổn Thương Hậu Thao Túng Tâm Lý</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">111.200₫</span>
                                            <span class="product-item__price-old">139.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/kv-dau-an-tien-phong-01-1-1.jpg?v=1726896459380"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Dấu Ấn Tiên Phong - Đổi mới trong Tác động Xã hội tại Việt Nam (Pre - Order
                                            từ ngày 26/9)
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">235.000₫</span>
                                            <span class="product-item__price-old"></span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/kv-dau-an-tien-phong-01-1-1.jpg?v=1726896459380"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Dấu Ấn Tiên Phong - Đổi mới trong Tác động Xã hội tại Việt Nam (Pre - Order
                                            từ ngày 26/9)
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">235.000₫</span>
                                            <span class="product-item__price-old"></span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/3-f9e456e0-3f61-4e72-854b-798028c76b57.png?v=1726824413130"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Học chắc - Ngẫm nhanh - Thành sớm
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">230.400₫</span>
                                            <span class="product-item__price-old"> 288.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/anh-whatsapp-2024-09-19-luc-14-53-11-b94d4ef7.jpg?v=1726762666640"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Cẩm nang đề cử thành viên Hội đồng Quản trị
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">329.000₫</span>
                                            <span class="product-item__price-old"></span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/ban-sao-su-that-tran-trui-ve-thong-ke-2.jpg?v=1725588618177"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Sự Thật Trần Trụi Về Thống Kê
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">183.200₫</span>
                                            <span class="product-item__price-old">229.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/ban-sao-su-that-tran-trui-ve-tien-2.jpg?v=1725588766707"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Sự Thật Trần Trụi Về Tiền
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">215.200₫</span>
                                            <span class="product-item__price-old">269.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/10-ebf7ef66-d7ab-4675-ab0b-4045e78c10e4.png?v=1724897528053"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Combo Sách Tăng Tốc Bán Hàng
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">532.800₫</span>
                                            <span class="product-item__price-old">666.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/img-7286-1.jpg?v=1723602423993"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            [COMBO] QUẢN TRỊ CHIẾN LƯỢC THỰC CHIẾN
                                            + BỘ CÔNG CỤ ĐỔI MỚI DOANH NGHIỆP
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">471.200₫</span>
                                            <span class="product-item__price-old">589.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/tu-duy-nhanh-va-cham.jpg?v=1528430381547"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Tư Duy Nhanh Và Chậm
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">215.200₫</span>
                                            <span class="product-item__price-old">269.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination product__pagination">
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="pagination-item pagination-item--active">
                                <a href="" class="pagination-item__link ">1</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">2</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">3</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">4</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">5</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">...</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">14</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
        <!-- footer -->
        <div class="footer" th:replace="/layout/footer :: footer"></div>
        <!-- footer -->
    </div>
</body>

</html>