<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/fontawesome-free-6.6.0-web/css/all.min.css">
    <title>LOOKBOOK</title>
</head>

<body>
    <div class="app">
        <div class="header">
            <div class="header-elements">
                <div class="header__logo">
                    <a href="index.html" class="header__logo-link">
                        <img class="header__logo-img" src="./assets/img/logo.png" alt="Logo">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Trang chủ</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Về LOOKBOOK</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">
                                <span>Tủ sách</span>
                                <i class="header_search-select-icon fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="header__nav-list-small">
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Harvard Business Review</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Alpha Lead</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Quản trị doanh nghiệp</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Tài chính - Đầu tư - Chứng khoán</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Công nghệ & Chuyển đổi số</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Dịch vụ HTXB</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">
                                <span>Tin tức và sự kiện</span>
                                <i class="header_search-select-icon fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="header__nav-list-small">
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Thể loại 1</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Thể loại 2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__actions">
                    <div class="header__actions-search">
                        <i class="fa-solid fa-magnifying-glass" style="color: #616161;"></i>
                        <form action="" class="header__actions-text">
                            <input class="header__actions-input" type="text" placeholder="Tìm kiếm sản phẩm...">
                            <i class="header__actions-text-icon fa-solid fa-magnifying-glass"
                                style="color: #616161;"></i>
                        </form>

                    </div>
                    <div class="header__actions-account">
                        <i class="fa-solid fa-user" style="color: #616161;"></i>
                        <ul class="header__actions-account-list">
                            <li class="header__actions-account-list-item">
                                <a th:href="@{/login}" class="header__actions-account-link">
                                    <span>Đăng nhập</span>
                                </a>
                            </li>
                            <li class="header__actions-account-list-item">
                                <a th:href="@{/register}" class="header__actions-account-link">
                                    <span>Đăng ký</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__actions-cart">
                        <i class="fa-solid fa-cart-shopping" style="color: #616161;"></i>
                        <span class="header__actions-cart-count">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="location">
            <a href="" class="location-link">
                Trang chủ
            </a>
            <p class="location-text">Tất cả sản phẩm</p>
        </div>
        <div class="banner">
        </div>

        <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3">
                        <nav class="category">
                            <h3 class="category__heading">DANH MỤC SÁCH</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link ">
                                        Harvard Business Review
                                    </a>
                                </li>
                                <li class="category-item ">
                                    <a href="#" class="category-item__link">
                                        Alpha Lead
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">
                                        Tài chính - Đầu tư - Chứng khoán
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">
                                        Công nghệ & Chuyển đổi số
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="#" class="category-item__link">
                                        Marketing & Bán hàng
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid__column-9">
                        <div class="home-filter">
                            <span class="home-filter__label">Sắp xếp:</span>
                            <div class="select-input">
                                <span class="select-input__label">
                                    Mặc định
                                    <i class="fa-solid fa-chevron-down"></i>
                                </span>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Tên A-Z</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Tên Z-A</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Giá tăng dần</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="#" class="select-input__link">Giá giảm dần</a>
                                    </li>
                                </ul>
                            </div>
                            <form class="home-filter__search" action="">
                                <input type="text" class="home-filter__search-text" placeholder="Nhập tên sản phẩm...">
                                <button class="home-filter__search-button">
                                    <i class="home-filter__search-icon fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div class="product">
                            <div class="grid__row">
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/ban-sao-bat-dong-san-thuc-chien-30-8-2024-outline-01-1.jpg?v=1728293569103"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Bất Động Sản Thực Chiến</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">196.150đ</span>
                                            <span class="product-item__price-old">199.000đ</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/vhs-01.jpg?v=1727174956620"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Văn Hoá Số - Gỡ bỏ rào cản trong chuyển đổi số -
                                            TG Lê Quang Vũ (Pre - Order)</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">151.200₫</span>
                                            <span class="product-item__price-old">189.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/untitled-design.png?v=1727321084060"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">Chữa Lành Tổn Thương Hậu Thao Túng Tâm Lý</h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">111.200₫</span>
                                            <span class="product-item__price-old">139.000₫</span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/kv-dau-an-tien-phong-01-1-1.jpg?v=1726896459380"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Dấu Ấn Tiên Phong - Đổi mới trong Tác động Xã hội tại Việt Nam (Pre - Order
                                            từ ngày 26/9)
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">235.000₫</span>
                                            <span class="product-item__price-old"></span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column-3">
                                    <!-- Product Item -->
                                    <div class="product-item">
                                        <div class="product-item__container">
                                            <a href="" class="product-tiem__link">
                                                <img class="product-item__img"
                                                    src="https://bizweb.dktcdn.net/100/197/269/products/kv-dau-an-tien-phong-01-1-1.jpg?v=1726896459380"
                                                    alt="">
                                            </a>
                                        </div>
                                        <h4 class="product-item__name">
                                            Dấu Ấn Tiên Phong - Đổi mới trong Tác động Xã hội tại Việt Nam (Pre - Order
                                            từ ngày 26/9)
                                        </h4>
                                        <div class="product-item__price">
                                            <span class="product-item__price-current">235.000₫</span>
                                            <span class="product-item__price-old"></span>
                                        </div>
                                        <div class="product-item__rating">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <span class="product-item__rating-count">(0)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination product__pagination">
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="pagination-item pagination-item--active">
                                <a href="" class="pagination-item__link ">1</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">2</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">3</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">4</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">5</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">...</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">14</a>
                            </li>
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3">
                        <div class="footer__img">
                            <a href="" class="footer__link">
                                <img src="./assets/img/logo.png" alt="" class="footer__img-logo">
                            </a>
                        </div>
                    </div>
                    <div class="grid__column-3">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Shop Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-3">
                        <h3 class="footer__heading">Về LOOKBOOK</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">Giới thiệu về LOOKBOOK</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-3">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-link">
                                    <i class="fa-brands fa-square-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">
                                    <i class="fa-brands fa-square-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-link">
                                    <i class="fa-brands fa-linkedin"></i>
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>