<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/head :: head"></head>

<body>
    <div class="app">
        <!-- header -->
        <div class="header">
            <div class="header-elements">
                <div class="header__logo">
                    <a th:href="@{/}" class="header__logo-link">
                        <img class="header__logo-img" src="./assets/img/logo.png" alt="Logo">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a th:href="@{/}" class="header__nav-item-link">Trang chủ</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Về LOOKBOOK</a>
                        </li>
                        <li class="header__nav-item">
                            <a th:href="@{/books}" class="header__nav-item-link">
                                <span>Tủ sách</span>
                                <i class="header_search-select-icon fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="header__nav-list-small">
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Harvard Business Review</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Alpha Lead</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Quản trị doanh nghiệp</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Tài chính - Đầu tư - Chứng khoán</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Công nghệ & Chuyển đổi số</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Dịch vụ HTXB</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">
                                <span>Tin tức và sự kiện</span>
                                <i class="header_search-select-icon fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="header__nav-list-small">
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Thể loại 1</span>
                                    </a>
                                </li>
                                <li class="header__nav-list-small-item">
                                    <a href="" class="header__nav-list-small-item-link">
                                        <span>Thể loại 2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__nav-item">
                            <a href="" class="header__nav-item-link">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__actions">
                    <div class="header__actions-search">
                        <i class="fa-solid fa-magnifying-glass" style="color: #616161;"></i>
                        <form action="" class="header__actions-text">
                            <input class="header__actions-input" type="text" placeholder="Tìm kiếm sản phẩm...">
                            <i class="header__actions-text-icon fa-solid fa-magnifying-glass"
                                style="color: #616161;"></i>
                        </form>

                    </div>
                    <div class="header__actions-account">
                        <i class="fa-solid fa-user" style="color: #616161;"></i>
                        <ul class="header__actions-account-list">
                            <li class="header__actions-account-list-item">
                                <a href="" class="header__actions-account-link">
                                    <span>Đăng nhập</span>
                                </a>
                            </li>
                            <li class="header__actions-account-list-item">
                                <a href="" class="header__actions-account-link">
                                    <span>Đăng ký</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__actions-cart">
                        <i class="fa-solid fa-cart-shopping" style="color: #616161;"></i>
                        <span class="header__actions-cart-count">0</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- header -->
        <!-- location -->
        <div class="location">
            <a th:href="@{/}" class="location-link">
                Trang chủ
            </a>
            <p class="location-text">Đăng nhập tài khoản</p>
        </div>
        <!-- location -->
        <!-- container -->
        <div class="container">
            <div class="body">
                <div class="body__left">
                    <h1>Đăng nhập tài khoản</h1>
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}" style="color: red; font-size: 1.4rem;">
                            Tài khoản hoặc mật khẩu không chính xác</div>
                        <div class="body__left__form">
                            <div class="form__group">
                                <span class="form__group-title">Email</span>
                                <input type="text" class="form__group-input" placeholder="Email" name="username">
                            </div>
                            <div class="form__group">
                                <span class="form__group-title">Mật khẩu</span>
                                <input type="password" class="form__group-input" placeholder="Mật khẩu" name="password">
                            </div>
                            <div>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            </div>
                            <button class="btn" type="submit">
                                Đăng nhập
                            </button>
                            <h2 class="form__heading">
                                <span class="form__text">Hoặc đăng nhập bằng</span>
                            </h2>
                            <div class="form__social">
                                <a href="" class="btn-facebook btn--with--icon">
                                    <i class="fa-brands fa-square-facebook"></i>
                                    Facebook
                                </a>
                                <a href="" class="btn-google btn--with--icon google">
                                    <i class="fa-brands fa-square-google-plus"></i>
                                    Google
                                </a>
                            </div>
                            <h2>
                                <span>Bạn quên mật khẩu bấm vào</span>
                                <a href="">vào đây</a>
                            </h2>
                        </div>
                    </form>
                </div>
                <div class="body__right">
                    <h1>Quyền lợi và thành viên</h1>
                    <div class="body__right-text">
                        <p>Vận chuyển siêu tốc</p>
                        <p>Sản phẩm đa dạng </p>
                        <p>Đổi trả dễ dàng</p>
                        <p>Tích điểm đổi quà</p>
                        <p>Được giảm giá cho lần mua tiếp theo lên đến 10% </p>
                    </div>
                    <button class="btn">
                        <a th:href="@{/register}">Đăng ký</a>
                    </button>
                </div>
            </div>
        </div>
        <!-- container -->
        <!-- footer -->
        <div class="footer" th:replace="/layout/footer :: footer"></div>
        <!-- footer -->
    </div>
</body>

</html>